<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% load cloudinary %}
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="classification" value="{{predictions}}">
        {% csrf_token %}
        {{ form.image }}
        <input type="submit" name="submit" value="Upload" />
    </form>

    <img src="{{photo.image.url}}" style="width: 600px">

    {{predictions}}
</body>

</html>